@import "../common.scss";

.container {
    background-color: #313131;
    color: #fff;
}

.alignment {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 120px 20px;
}

.title {
    flex: 1;
    font-size: 35px;
    font-weight: 500;
}

.title >span {
    padding-bottom: 10px;
    border-bottom: 1.6px solid rgb(103,254,179);
}

.contents {
    flex: 2;
   
}

.contents> div:first-child{
    display:flex;
    flex-direction: column;
    gap: 8px;
}

.bigger {
    font-size: 20px;
    margin-bottom: 10px;
}

.bluecolor {
    font-size: 20px;
    color : rgb(27,207,254);
    font-weight: 600;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.redcolor {
    font-size: 20px;
    color : rgb(211,0,39);
    font-weight: 600;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}   

.icon {
    width: 30px;
    height: 30px;
}

.email_icon {
    height: auto;
    width: 35px;
}

.icon_wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 300px);
    gap: 20px;
    // justify-items: center;
    // border: 1px solid red;
    margin-top: 40px;
}

.icon_wrapper >li {
    display : flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.detail_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detail_info > span:nth-child(1) {
    font-size: 18px;
    font-weight: 600;
}

.detail_link {
    cursor: pointer;
    display : flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.detail_link:hover {
    color: rgb(103,254,179);
}
